.form {
  margin-left: auto;
  margin-right: auto;
  color: #1e1e1e;
  display: grid;
  width: 300px;
}

.form a {
  justify-self: end;
}

.signin {
  display: flex;
  justify-items: center;
  align-items: center;
  gap: var(--sm);
  justify-self: center;
}
