@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.greenText {
	color: #16f8b6;
}

.pinkText {
	color: #f926ae;
}

.violetText {
	color: #a679ff;
}

.certificadoImg {
	border: 1px solid black;
	margin-bottom: 25px;
}

img.center {
	margin: 10px auto;
}

.cardContainer {
	flex-direction: column;
	padding: 1rem;
	display: flex;
}

.heroText {
	margin: 25px 0;
}

.heroText_ppal {
	font-family: "Poppins", system-ui;
	font-weight: 800;
	font-style: normal;
	text-align: center;
	margin: 25px;

}

.heroGrid {
	display: grid;
	width: 95vw;
	gap: 20px;
}
.heroGrid .imageContainer {
	display: flex;
	align-items: center;
	justify-content: center;
}

.heroGrid .imgGrid {
	width: fit-content;
	height: 100%;
	object-fit: cover;
}

.heroGrid .gridElement {
	font-weight: 500;
	font-family: "Poppins", system-ui;
	font-size: 0.9rem;
}
.heroGrid .gridElement:nth-child(1) {
	grid-column: 2/4;
	grid-row: 1/2;
	color: #16f8b6;
	background-color: #0c1036;
	text-align: center;
	display: grid;
	place-items: center;
	padding: 1rem 0.5rem;
}
.heroGrid .gridElement:nth-child(2) {
	grid-column: 4/6;
	grid-row: 1/2;
	color: #a679ff;
	background-color: #0c1036;
	text-align: center;
	display: grid;
	place-items: center;
	padding: 1rem 0.5rem;
}

.heroGrid .gridElement:nth-child(3) {
	grid-column: 6/8;
	grid-row: 1/2;
	color: #f926ae;
	background-color: #0c1036;
	text-align: center;
	display: grid;
	place-items: center;
	padding: 1rem 0.5rem;
}
/* imagen grupo */
.heroGrid .gridElement:nth-child(4) {
	grid-column: 2/8;
	grid-row: 2/4;
	.imgGrid {
        width: 100%;      
        border-radius: 15px;
    }
}
/* imagen mujer */
.heroGrid .gridElement:nth-child(5) {
	grid-column: 3/5;
	grid-row: 4/5;
	.imgGrid {
        width: 100%;      
        border-radius: 15px;
    }
}
/* imagen profesor */
.heroGrid .gridElement:nth-child(6) {
	grid-column: 5/7;
	grid-row: 4/5;
    border: 1px solid #a5a3a3;
    border-radius: 15px;
}

.cardCol {
	padding: 0 30px;
}

/* 
    BREAKPOINTS MOBILE FIRST
    Tablet : min-width = 769px
    Desktop : min-width = 1025px
*/

@media screen and (min-width: 769px) {
	.cardContainer {
		padding: 2rem 10rem;
	}

	.heroText {
		margin: auto;
		display: flex;
		align-items: center;
		width: 30%;
	}
	.heroGrid {
		width: 80vw;
		height: 80vh;
		grid-template-rows: 45vh 12vh 20vh;
		grid-template-columns: 0.1fr 1fr 0.1fr 1fr 0.1fr 1fr 0.1fr;
		gap: 5px;
	}

	.heroGrid .gridElement:nth-child(1) {
		grid-column: 2/3;
		grid-row: 2/3;
		width: 50%;
		margin: auto;
	}
	.heroGrid .gridElement:nth-child(2) {
		grid-column: 4/5;
		grid-row: 2/3;
		width: 50%;
		margin: auto;
	}

	.heroGrid .gridElement:nth-child(3) {
		grid-column: 6/7;
		grid-row: 2/3;
		width: 50%;
		margin: auto;
	}
	/* imagen grupo */
	.heroGrid .gridElement:nth-child(4) {
		grid-column: 2/7;
		grid-row: 1/2;

		.imgGrid {
			width: 100%;
			object-position: 0 30%;
			border-radius: 15px;
		}
	}
	/* imagen mujer */
	.heroGrid .gridElement:nth-child(5) {
		grid-column: 2/4;
		grid-row: 3/4;
		display: flex;
		justify-content: flex-end;
		border-radius: 15px;
        .imgGrid{
            width: auto;
        }
	}
	/* imagen profesor */
	.heroGrid .gridElement:nth-child(6) {
		grid-column: 5/7;
		grid-row: 3/4;
		display: flex;
		justify-content: flex-start;
        border: none;
		.imgGrid {
			width: 45%;
			height: 100%;
			object-fit: cover;
			object-position: 0 5px;
		}
	}
	.cardCol {
		width: 30%;
		padding: unset;
	}
}

