.spinner {
	width: 25px;
	height: 25px;
	border: 4px solid currentColor; /* Color del borde */
	border-top: 4px solid cornflowerblue; /* Color del borde superior (que girará) */
	border-radius: 50%;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
