.custom-form-control {
	border: 1px solid #d9d9d9 !important;
	border-top-left-radius: 0%;
	border-bottom-left-radius: 0%;
	outline: transparent;
}

.custom-form-control:focus {
	box-shadow: var(--s-sm);
}

.iconInput {
	height: 3em;
	position: absolute;
	right: 2px;
	top: 50%;
	transform: translateY(-50%);
}

.custom-imgProfile {
	display: none;
}

.img-thumbnail {
	cursor: pointer;
	width: 300px;
	height: 300px;
	object-fit: scale-down;
	border-radius: 50%;
}

hr {
	border: 0;
	height: 1px;
	background: #333;
}

.input-group-text {
	display: flex;
	align-items: center;
	padding: 0.35rem 0.65rem;
	line-height: 1.5;
	color: var(--bs-body-color);
	text-align: center;
	white-space: nowrap;
	background-color: var(--bs-tertiary-bg);
	border: var(--bs-border-width) solid var(--bs-border-color);
	border-top-right-radius: 0%;
	border-bottom-right-radius: 0%;
}

.bi {
	color: #5b5b5c;
	height: 25px;
	width: 25px;
}
