.card {
	height: 100%;
	display: flex;
    flex-direction: column;
    justify-content: space-between; /* Para distribuir el contenido de la tarjeta */
}

.cardImg2 {
    position: relative;
    overflow: hidden;
    object-fit: cover;
	height: 200px; /* Ajusta esta altura según tus necesidades */
    width: 100%; 
}
.card-img-fixed {
  height: 100%; /* Ajusta la altura según sea necesario */
  width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
  object-fit: cover; /* Mantiene la proporción de la imagen mientras llena el contenedor */
}

.cardContainer {
	flex-direction: column;
	padding: 1rem;
	display: flex;
}

.cardBadge {
	width: fit-content;
	position: absolute;
	bottom: 10px;
	right: 10px;
}
/* CursosCompletados.css */

/* Estilo para la barra de progreso */
.progress-bar-black .progress-bar{
	background-color: black; /* Color de la barra de progreso */
	font-weight: bold;
	
  }
  
  /* Estilo para el porcentaje de progreso */
  .progreso-text {
	font-size: 20px;
	text-align: right;
	display: block;

  }
  
  .progreso-text span {
	display: block;
	font-weight: bold;
  }
  
  .badge-black {
	background-color: black; /* Fondo negro */
	color: white; /* Texto blanco para contraste */
  }

  .btn-black {
	background-color: black; /* Fondo negro */
	border-color: black; /* Borde negro */
	color: white; /* Texto blanco para contraste */
  }

  .btn-black:hover {
	background-color: #333; /* Color de fondo en hover */
	border-color: #333; /* Borde en hover */
  }

@media screen and (max-width: 768px) {
	.cardContainer {
		padding: inherit;
	}
}
