.label {
	--xs: 2px; /* Extra Small */
	--sm: 4px; /* Small */
	--md: 8px; /* Medium */
	--lg: 16px; /* Large */
	--xl: 32px; /* Extra Large */
	--xxl: 64px; /* 2x Extra Large */
	--size-err: 20px;

	--s-sm: 0px 0px 4px hsla(0, 0%, 27%, 0.4);
	--s-md: 0px 0px 8px hsla(0, 0%, 27%, 0.4);

	display: grid;
	gap: var(--xs);
	cursor: text;
	width: 300px;
}

.title {
	font-weight: bold;
}

.err {
	color: red;
}
