.description {
	background-color: #0c1036;
}

.filaPar {
	background-color: #07294bf5;
	color: #fff;
	margin-bottom: 1.5px;
}
.filaImpar {
	background-color: #6c757d;
	color: #fff;
	padding-bottom: 1.5px;
}

.row-spacing {
	height: 2rem;
}
.video-container {
	padding-bottom: 56, 25%;
	width: 100%;
	height: 100%;
	margin: 0;
}
.YouTubePlayer {
	width: 60vw !important;
	height: 33.75vw !important;
}

.row-spacing {
	height: 50px !important;
}
