@import "./styles/reset.css";
@import "./styles/scroll.css";
@import "./styles/scales.css";
@import "./styles/colors.css";
@import "./styles/shadow.css";
@import "./styles/fonts.css";



/* Establecer márgenes y padding a 0 para todos los elementos */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box; /* Asegura que el padding y el borde se incluyan en el ancho y alto de los elementos */
  }
  /* App.css */
  
  @media (max-width: 992px) { /* Aplica en pantallas menores a 992px (lg) */
	.navbar-nav {
	  flex-direction: column; /* Asegura la disposición vertical */
	  align-items: center; /* Centra horizontalmente los elementos */
	  gap: '5px';
	}
	.navbar-nav .nav-link,
	.navbar-nav .btn {
	  margin-bottom: 0; /* Remove bottom margin for items in mobile view */
	}
  }