.label {
	position: relative;
}

.input {
	width: 100%;
	border: 1px solid #d9d9d9;
	border-radius: var(--md);
	padding: var(--md) var(--lg);
	min-height: 32px;
	outline: transparent;
}

.input:focus {
	box-shadow: var(--s-sm);
}

.input::placeholder {
	color: #959595;
	font-size: 0.9em;
}

.input__err {
	border: 1px solid var(--red);
}

.input__state {
	padding-right: calc(var(--md) + 20px);
}
.primary {
	background-color: transparent;
	color: currentColor;
}

.secondary {
	color: black;
}
