/* Contacto.css */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
#Contact{
  font-family: "Poppins", system-ui;
  ;
}
h2{
  font-weight: 800;
  font-style: normal;
  text-align: center;
  margin: 25px;
}
.contact-section {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    flex-direction: column;
    align-items: center; /* Centra verticalmente */
    width: 100%;
  }
  .contact-container {
    max-width: 700px; /* Ancho máximo del contenedor */
    height: 460px;
    padding: 1rem; /* Espaciado interno */
    border-radius: 0.25rem;
    margin-bottom: 40px;
    border:solid 1px #a5a3a3 ;
  }
  
  @media (max-width: 576px) {
    .contact-container {
      padding: 0.5rem; /* Menor espaciado interno en pantallas pequeñas */
    }
  }
  