.err,
.loading,
.success {
	width: 20px;
	height: 20px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: calc(var(--md) / 2);
}

.err {
	color: red;
}

.loading {
	color: gray;
}

.success {
	color: green;
}
